*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.card{
    height: 220px;
    width: 150px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.set-color{
    height: 65%;
    background-color: pink;
}
.title-name{
    font-size: small;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}