*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-around;
    width: 60%;
    height: 100%;
}
.cards{
    margin: 10px;
}